.container {
  position: relative;
  background-color: #000;
  z-index: 1;
  display: block;
  clear: fix;
  overflow: hidden;
  padding: 15vh 0;
}

.inner {
  width: 90%;
  max-width: 74em;
  display: block;
  column-count: 2;
  column-gap: 8vw;
  margin: 0 auto;
  clear: fix;

  @media screen and (max-width: 768px) {
    column-count: 1;
    max-width: 32em;
  }

  & p {
    color: #dcdcdc;
    margin-bottom: 1em;
    line-height: 1.4em;
    font-weight: 200;
    font-size: 1em;

    @media screen and (max-width: 768px) {
      font-weight:400;
    }

    &:first-child {
      &::first-letter {
        float: left;
        font-family: Roboto;
        font-weight: bold;
        font-size: 8em;
        line-height: 90px;
        padding-top: 10px;
        padding-right: 8px;
        padding-left: 3px;
        margin-bottom: 10px;
      }
    }
  }

  & h3 {
    font-family: Roboto;
    font-weight: 800;
    color: #dcdcdc;
  }
}
