.container {
  min-height: calc(100vh - 144px);
  position: relative;
  background: #000 center;
  background-size: cover;
  z-index: 1;
  display: block;
  color: #fff;
  clear: fix;
  overflow: hidden;
  /*min-height: 75vh;*/
  padding: 8vh 0;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);

  &::after {
    content: '';
    bottom: 0;
    background-image: linear-gradient(rgba(0,0,0,0.4) 0%, rgba(0,0,0,.6) 100%);
    position: absolute;
    width: 100%;
    height: 100%;
  }

  @media screen and (max-width: 992px) {
    min-height: calc(100vh - 47px);
  }
}

.video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;

  @media screen and (max-width: 480px) {
    display: none;
  }
}

.inner {
  width: 90%;
  max-width: 74em;
  display: block;
  margin: 2em auto;
  clear: fix;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;

  &::before {
    content: '';
    display: block;
    width: 3em;
    height: 0.3em;
    background-color: #fff;
    margin: 0.5em 0 1em;
  }

  @media screen and (max-width: 768px) {
    column-count: 1;
    max-width: 30em;

    & p,
    & .title {
      margin: 0 auto;
    }
  }

  & p {
    color: #fff;
    max-width: 30em;
    font-size: 1.2em;
    font-weight: 300;
  }
}

.title {
  font-family: map(fonts, family-serif);
  font-weight: bold;
  max-width: 480px;
  font-size: 3.5em;

  &::after {
    content: '';
    display: block;
    width: 1.5em;
    height: 0.15em;
    background-color: #fff;
    margin: 0.5em 0 1em;
  }

  @media screen and (max-width: 768px) {
    font-size: calc(1em + 3vh);
  }
}
